.bg
{
	position: fixed;
	margin: 0%;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
#hidden_bg
{
	background-image: url("./switch_background.jpg");
}
#background
{
	background-image: url("./background.jpg");
}
#question
{
	position: fixed;
	margin: 0%;
	top: 15%;
	left: 30%;
	width: 40%;
	height: 10%;
	background-color: burlywood;
	border: solid 10px #006CFF;
	border-radius: 50px;
}
#q_text
{
	display: inline-block;
	position: absolute;
	margin: 0%;
	top: 10%;
	width: 100%;
	height: 80%;
	text-align: center;
	font-size: 50px;
	color: red;
}
#yes
{
	position: fixed;
	margin: 0%;
	top: 45%;
	left: 25%;
	width: 10%;
	height: 8%;
	background-color: red;
	border: solid 3px #FFED00;
	border-radius: 40px;
}
#y_text
{
	position: absolute;
	margin: 0%;
	top: 25%;
	width: 100%;
	height: 50%;
	text-align: center;
	font-size: 25px;
	color: aqua;
}
#no
{
	position: fixed;
	margin: 0%;
	top: 45%;
	right: 25%;
	width: 10%;
	height: 8%;
	background-color: red;
	border: solid 3px #FFED00;
	border-radius: 40px;
}
#n_text
{
	position: absolute;
	margin: 0%;
	top: 25%;
	width: 100%;
	height: 50%;
	text-align: center;
	font-size: 25px;
	color: aqua;
}